@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
}

.scrollbar-hide{
  -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply rounded-[3px] bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[3px] border-2 border-neutral-300 bg-neutral-600 dark:bg-neutral-400;
}

.toggle {
  background-color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

.homesvg {
  color: var(--text-color, black);
  background-color: black;
  @media (prefers-color-scheme: dark) {
    --text-color: white; /* Change text color in dark mode */
  }
}


@media not all and (min-width: 767px){
	.white {
		height:200px;
	}
	.tuts {
		/* height:300px; */
		bottom:180px;
	}
}
.white {
    position: relative;
    /* background: rgb(241, 240, 240); */
	width:200px;
    margin: 0 2px;
  }
  .black{
	display:flex;
  }

.active{
	background-color: #C0C0C0;
  /* position: relative; */
}
.bg-blak{
	background-color: #000000;

}
/* .key{
  background: #e0e0e0;
  box-shadow:  5px 5px 16px #a8a8a8,
               -1px -1px 1px #ffffff;
} */
  .key:active {
	background-color: #C0C0C0;
  /* background: #ffffff;
  box-shadow: inset 5px 5px 16px #bfbfbf,
              inset -5px -5px 16px #ffffff; */
  
  
  }

  .key.hover{
	background-color: #ccc;
	box-shadow: 0 0 10px #888;
  }
  .black-key {
    width: 40px; 
    left: 35px;
  
    @media (max-width: 768px) {
      width: 30px; 
      left: 25px;
    }
  
    @media (max-width: 480px) {
      width: 20px; 
      left: 15px
    }
  }

.pick-1{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.00) 0.41%, rgba(0, 0, 0, 0.00) 0.55%), linear-gradient(180deg, rgba(0, 0, 0, 0.10) 10%, rgba(255, 255, 255, 0.25) 15%, rgba(255, 255, 255, 0.80) 30%, rgba(255, 255, 255, 0.25) 45%, rgba(0, 0, 0, 0.60) 90%), #BA9;
box-shadow: 0.60032px 5.55296px 0.30016px 0px rgba(0, 0, 0, 0.10);
}

.bg-card-blog{
  background: linear-gradient(292deg, #18181838 6.93%, #000000e8 67.26%);
}

.opc-fade{
  pointer-events: none;
  background: linear-gradient( 152deg, #dfdfdfc7 , transparent 30% );
  position: absolute;
}

#nprogress .bar {
  background: #15b874 !important;

}

#nprogress .bar {
  position: fixed !important;
  top: 0 !important;
  z-index: 999999 !important;
}